// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

//FontAwesome
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  margin-right: 30px;
  font-size: 10pt;
  text-align: center;

  strong {
    display: block;
    font-size: 2em;
  }

  .vote, .answer {
    width: 60px;
    height: 60px;
  }

  .status {
    &.unanswered {
      border: none;
    }

    &.answered {
      border: 1px solid $green;
      color: $green;
    }

    &.accepted {
      background-color: $green;
      color: $white;
    }
  }

  .view {
    margin-top: 10px;
  }
}

.icons {
  font-size: 20px;
  text-align: center;
}

.form-delete {
  display: inline;
}
